{% extends 'base.html.twig' %}

{% block title %}Time count{% endblock %}

{% block body %}
    <div>
        <h1>Test task #1 ✅</h1>
    </div>
    <div>
        {{ form(timeForm) }}
    </div>
{% endblock %}